.main-panel {
  display: flex;
  justify-content: center;
}

.navBar{
  width: 100%;
  height:79px;
  background-color: lightblue;
}

.parent {
  display: flex;
  width: 935px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;

}

.column1 {
  display: flex;
  height: 1000px;
  background-color: lightgray;
  width: 612px;
  flex-direction: column;
  /* justify-content: center; */
  /* flex-wrap: wrap; */


 }


.column2 {
  height: 100px;
  width: 293px;
  background-color: lightpink;
}

/* .panel {
  display: flex;
  /* height: 615px;
  width: 612px; */


/* } */

.user-name {
  width: 612px;
  height: 60px;
  background-color: lightpink;
}

.picture {
  width: 612px;
  height: 306px;
  background-color: lightgray;
}

.comments {
  width: 612px;
  background-color: lightpink;
  height: 306px;
}

@media screen and (max-width: 1000px) {
  .column2{
    display: none;
  }
  .parent {
    justify-content: center;
  }

}
